.register {
    @media (max-width: 415px) {
      width: 300px;
    }
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211, 0.51);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
    .registerError {
      width: max-content;
      margin: 10px auto 0 auto;
      font-size: 12px;
      text-align: center;
      color: rgba(255, 0, 0, 0.71);
      background-color: rgba(255, 0, 0, 0.18);
      padding: 2px 7px 2px 7px;
      border-radius: 5px;
    }
  
    .registerTitle {
      font-size: 30px;
      text-align: center;
    }
  
    .registerForm {
      margin-top: 30px;
    }
  }



  .formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

  .formGroupInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;


    label{
      font-weight: 600;
      font-size: 17px;
      margin-bottom: 5px;
    }

    p{
      font-size: 12px;
      background-color: rgba(255, 0, 0, 0.18);
      padding: 3px 6px 3px 6px;
      border-radius: 5px;
      margin-bottom: 5px;
      color: rgba(255, 0, 0, 0.71);
    }
  }
  input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;

    &:focus{
      outline: 2px solid #7451f8;
    }
  }

}